.clients_title {
    color: #fff;
    font-weight: 600;
    line-height: 1.5;
    margin: 2rem 0 0;
    text-transform: uppercase;
    letter-spacing: .2rem;
}
.clients_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
    .client {
        width: 100px;
        padding: 2rem 0.5rem;
        opacity: 0.5;
        transition: all 0.3s;
    }
        .client:hover {
            opacity: 1;
        }
        .client img {
            width: 100%;
        }

