/* 
* Home 
*/
.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: -moz-radial-gradient(rgba(0, 0, 0, 0.25) 25%, transparent 55%);
	background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0.25) 25%, transparent 55%);
	background-image: -ms-radial-gradient(rgba(0, 0, 0, 0.25) 25%, transparent 55%);
	background-image: radial-gradient(rgba(0, 0, 0, 0.25) 25%, transparent 55%);
	max-width: 100%;
	text-align: center;
}

.home>* {
	transition: opacity 0.325s ease-in-out;
	position: relative;
	margin-top: 3.5rem;
}

.home>*:before {
	content: '';
	display: block;
	position: absolute;
	top: calc(-3.5rem - 1px);
	left: calc(50% - 1px);
	width: 1px;
	height: calc(3.5rem + 1px);
	background: #ffffff;
}

.home>:first-child {
	margin-top: 0;
}

.home>:first-child:before {
	display: none;
}

.home .container {
    border-style: solid;
	border-color: #ffffff;
	border-top-width: 1px;
	border-bottom-width: 1px;
	max-width: 100%;
}

.home .container .row {
	padding: 3rem 2rem;
	overflow: hidden;
	
	animation-name: home-text-scale;
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
    animation-delay: 0.3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: running;
}

.home .container .row>:last-child {
	margin-bottom: 0;
}

.home .container h1 {
    font-size: 2.25rem;
    line-height: 1.3;
    letter-spacing: .5rem;
	font-weight: 600;
	margin: 0 0 1rem;
}

.home .container p {
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-size: 0.8rem;
	line-height: 2;
	margin: 0 0 2rem;
}

@media screen and (max-width:980px) {
	.home .container p br {
		display: none;
	}
}

@media screen and (max-width:736px) {
	.home>* {
		margin-top: 2rem;
	}
	.home>*:before {
		top: calc(-2rem - 1px);
		height: calc(2rem + 1px);
	}

	.home .container .row {
		padding: 2.5rem 1rem;
	}
	.home .container p {
		line-height: 1.875;
	}
}

@media screen and (max-width:480px) {
	.home {
		padding: 1.5rem 0;
	}
	.home .container .row {
		padding: 2.5rem 0;
	}
}

/**
 * ----------------------------------------
 * animation home-text-scale
 * ----------------------------------------
 */
 @keyframes home-text-scale {
	0% {
	  max-height: 0px;
	  padding: 0;
	  opacity: 0;
	}
	100% {
		max-height: 300px;
		opacity: 1;
	}
  }