.logo {
	width: 5.5rem;
	height: 5.5rem;
	line-height: 5.5rem;
	border: solid 1px #ffffff;
	border-radius: 100%;
	padding: 2px;
}

@media screen and (max-width:736px) {
	.logo {
		width: 4.75rem;
		height: 4.75rem;
		line-height: 4.75rem;
		padding: 2px;
	}
}