.form_group {
    margin-bottom: 1rem;
}

.form_group label {
    display: block;
    font-size: .8rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.form_group input {
    border: 1px solid #ccc;
    background: none;
    color: #fff;
    border-radius: .25rem;
    display: block;
    font-size: 1rem;
    padding: .7rem .7rem;
    width: 100%;
}

.form_group input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, .075);
}

.form_group textarea {
    border: 1px solid #ccc;
    background: none;
    color: #fff;
    border-radius: .25rem;
    display: block;
    font-size: 1rem;
    padding: .7rem .5rem;
    width: 100%;
    height: 10rem;
}

.form_group textarea:focus {
    outline: none;
    background-color: rgba(255, 255, 255, .075);
}

.form_group button {
    border: 1px solid #fff;
    background: #fff;
    color: #1b1f22;
    border-radius: .25rem;
    display: block;
    font-size: 1rem;
    padding: .7rem .7rem;
    width: 100%;
    transition: all 0.3s;
}

.form_group button:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, .075);
}

.form_group.response {
    margin-top: 1rem;
}

.form_group.response strong {
    font-weight: bold;
}

.invalid-feedback {

    font-size: .8rem;
    margin-top: .5rem;
    color: rgb(200, 0, 0);
}