/* Language: css */
/* Path: src/App.css */

/* Base styles */
html {
	font-size: 16pt;
}

@media screen and (max-width:1680px) {
	html {
		font-size: 12pt;
	}
}

@media screen and (max-width:736px) {
	html {
		font-size: 11pt;
	}
}

@media screen and (max-width:360px) {
	html {
		font-size: 10pt;
	}
}


body {
	color: #ffffff;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.65;
	background: #1b1f22;
}

a {
	color: #ffffff;
	text-decoration: none;
}

img {
	animation-name: clients-fade;
	animation-duration: 0.6s;
	animation-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
	animation-delay: 0;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
	animation-play-state: running;
}


/*
 * Wrapper
 */
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
	min-height: 100vh;
	width: 100%;
	padding: 4rem 2rem;
	z-index: 3;
}

.wrapper:before {
	content: '';
	display: block;
}

@media screen and (max-width:1680px) {
	.wrapper {
		padding: 3rem 2rem;
	}
}

@media screen and (max-width:736px) {
	.wrapper {
		padding: 2rem 1rem;
	}
}

@media screen and (max-width:480px) {
	.wrapper {
		padding: 1rem;
	}
}

/*
* .main
*/
.main {
	flex-grow: 1;
	flex-shrink: 1;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	max-width: 100%;
	z-index: 3;
}

.main article {
	padding: 4.5rem 2.5rem 1.5rem 2.5rem;
	position: relative;
	width: 60rem;
	max-width: 100%;
	background-color: rgba(27, 31, 34, 0.85);
	border-radius: 0.25rem;
	overflow: hidden;

	animation-name: page-article;
	animation-duration: 0.4s;
	animation-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
	animation-delay: 0.4s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
	animation-play-state: running;
}

.main article .close {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 4rem;
	height: 4rem;
	cursor: pointer;
	text-indent: 4rem;
	overflow: hidden;
	white-space: nowrap;
}

.main article .close:before {
	transition: background-color 0.2s ease-in-out;
	content: '';
	display: block;
	position: absolute;
	top: 0.75rem;
	left: 0.75rem;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 100%;
	background-position: center;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='20px' viewBox='0 0 20 20' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23ffffff%3B stroke-width: 1%3B %7D%3C/style%3E%3Cline x1='2' y1='2' x2='18' y2='18' /%3E%3Cline x1='18' y1='2' x2='2' y2='18' /%3E%3C/svg%3E");
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.main article .close:hover:before {
	background-color: rgba(255, 255, 255, 0.075);
}

.main article .close:active:before {
	background-color: rgba(255, 255, 255, 0.175);
}

@media screen and (max-width:736px) {
	.main article {
		padding: 3.5rem 2rem 0.5rem 2rem;
	}

	.main article .close:before {
		top: 0.875rem;
		left: 0.875rem;
		width: 2.25rem;
		height: 2.25rem;
		background-size: 14px 14px;
	}
}

@media screen and (max-width:480px) {
	.main article {
		padding: 3rem 1.5rem 0.5rem 1.5rem;
	}
}


/**
 * ----------------------------------------
 * animation clients-fade
 * ----------------------------------------
 */
 @keyframes clients-fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


/**
 * ----------------------------------------
 * animation home-text-scale
 * ----------------------------------------
 */
@keyframes page-article {
	0% {
		height: 0px;
		opacity: 0;
	}

	100% {
		height: auto;
		opacity: 1;
	}
}